
.keys
{
display: flex;
  flex: 1;
  text-align: center;
  padding-top: 300px;
  justify-content: center; }


.Rock {
  border: thick solid black;
  background-color: aqua;
  margin-right: 50px;

}
.Paper {
 border: thick solid black;
 background-color: blue;
 margin-right: 50px;

}
.Scissors {
  border: thick solid black;
  background-color: blueviolet;
}
span {
  border: thick solid black;
  background-color: rgb(253, 253, 253);
}